@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #444;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

#app {
  width: 100%;
  padding: 0;
}

.row {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1024px;
}

header {
  border-bottom: 1px solid #e5e7eb;
}

.svg_icon {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.table {
  width: 100%;
  /* border: 1px solid gray; */
  text-align: center;
  font-size: 14px;
}
.table th {
  text-align: center;
}
.table > tr > th,
.table > tr > td {
  border: 1px solid #89b289;
}
.trDuplicate {
  @apply bg-blue-100;
}
.trEmpty {
  @apply bg-red-100;
}
.trGreen {
  @apply bg-green-100;
}
.tbl_poc td {
  padding: 0 3px;
}
.tbl_poc {
  width: 100%;
  white-space: nowrap;
  font-size: 13px;
}
.tableHead {
  width: auto;
  font-size: 12px;
}
.tableHead td,
.tableHead th {
  padding: 0 10px;
}

tr.head_tbl {
  background-color: #f7f7f7;
  position: sticky;
  z-index: 2;
}
.head_tbl td,
.head_tbl th {
  padding: 2px;
  background-color: #f7f7f7;
}
.head_th {
  top: -1px;
  height: 25px;
  white-space: nowrap;
  /* border-top: 1px solid green; */
}
.head_tr {
  top: 27px;
}
.head_tbl input {
  background-color: #f7f7f7;
}
